* {
  margin: 0;
  padding: 0;
}
html {
  max-width: 384px;
}
body {
  font-family: sans-serif;
  width: 384px;
  max-width: 384px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 384px;
}
p {
  font-size: 1.2em;
  padding-top: 1em;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}
#autore {
  font-weight: 600;
}
.black {
  height: 12px;
  width: 200px;
  background: #000;
}
