html {
  max-width: 384px;
}
body {
  font-family: sans-serif;
  width: 384px;
  max-width: 384px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  position: absolute;
  max-width: 384px;
  left: 0;
  top: 0;
  opacity: 0.1;
  z-index: -9;
}
p {
  font-size: 1.2em;
}
div {
  padding: 0 1em;
}
#autore {
  font-weight: 600;
}
