html {
  max-width: 384px;
}
body {
  font-family: sans-serif;
  width: 384px;
  max-width: 384px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 1.5em;
}
div {
  padding: 0 1em;
}
#autore {
  font-weight: 600;
}
